body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12655 {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:90px;
}
#u12656 {
  position:absolute;
  left:2px;
  top:37px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12657 {
  position:absolute;
  left:201px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12658 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12659 {
  position:absolute;
  left:421px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12660 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12661 {
  position:absolute;
  left:311px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12662 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12663 {
  position:absolute;
  left:640px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12664 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12665 {
  position:absolute;
  left:1074px;
  top:10px;
  width:121px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u12666 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u12667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u12667 {
  position:absolute;
  left:1196px;
  top:13px;
  width:20px;
  height:12px;
}
#u12668 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u12669 {
  position:absolute;
  left:102px;
  top:31px;
  width:89px;
  height:28px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u12670 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u12671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12671 {
  position:absolute;
  left:42px;
  top:15px;
  width:60px;
  height:60px;
}
#u12672 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12673 {
  position:absolute;
  left:750px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12674 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12675 {
  position:absolute;
  left:860px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12676 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12677 {
  position:absolute;
  left:970px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12678 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12679 {
  position:absolute;
  left:530px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u12680 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:66px;
}
#u12681 {
  position:absolute;
  left:1098px;
  top:13px;
  width:82px;
  height:66px;
}
#u12682 {
  position:absolute;
  left:2px;
  top:25px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:66px;
}
#u12683 {
  position:absolute;
  left:1162px;
  top:7px;
  width:96px;
  height:66px;
}
#u12684 {
  position:absolute;
  left:2px;
  top:25px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:4750px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12686 {
  position:absolute;
  left:0px;
  top:90px;
  width:3000px;
  height:4750px;
}
#u12687 {
  position:absolute;
  left:2px;
  top:2367px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:1700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12688 {
  position:absolute;
  left:15px;
  top:109px;
  width:192px;
  height:1700px;
}
#u12689 {
  position:absolute;
  left:2px;
  top:842px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:78px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12690 {
  position:absolute;
  left:0px;
  top:4869px;
  width:1214px;
  height:78px;
  color:#666666;
}
#u12691 {
  position:absolute;
  left:2px;
  top:21px;
  width:1210px;
  word-wrap:break-word;
}
#u12692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12692 {
  position:absolute;
  left:15px;
  top:108px;
  width:192px;
  height:56px;
}
#u12693 {
  position:absolute;
  left:2px;
  top:20px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12694 {
  position:absolute;
  left:37px;
  top:127px;
  width:86px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12695 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u12696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u12696 {
  position:absolute;
  left:168px;
  top:132px;
  width:15px;
  height:9px;
}
#u12697 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
  text-align:center;
}
#u12698 {
  position:absolute;
  left:200px;
  top:26px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
  text-align:center;
}
#u12699 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u12700_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:110px;
  height:10px;
}
#u12700 {
  position:absolute;
  left:208px;
  top:85px;
  width:105px;
  height:5px;
}
#u12701 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12702 {
  position:absolute;
  left:15px;
  top:345px;
  width:192px;
  height:56px;
}
#u12703 {
  position:absolute;
  left:2px;
  top:20px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12704 {
  position:absolute;
  left:37px;
  top:364px;
  width:86px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12705 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u12706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u12706 {
  position:absolute;
  left:168px;
  top:369px;
  width:15px;
  height:9px;
}
#u12707 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12708 {
  position:absolute;
  left:15px;
  top:716px;
  width:192px;
  height:56px;
}
#u12709 {
  position:absolute;
  left:2px;
  top:20px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12710 {
  position:absolute;
  left:37px;
  top:735px;
  width:86px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12711 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u12712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u12712 {
  position:absolute;
  left:168px;
  top:740px;
  width:15px;
  height:9px;
}
#u12713 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12714 {
  position:absolute;
  left:15px;
  top:862px;
  width:192px;
  height:56px;
}
#u12715 {
  position:absolute;
  left:2px;
  top:20px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12716 {
  position:absolute;
  left:37px;
  top:881px;
  width:86px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12717 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u12718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u12718 {
  position:absolute;
  left:168px;
  top:886px;
  width:15px;
  height:9px;
}
#u12719 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12720 {
  position:absolute;
  left:55px;
  top:165px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12721 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12722 {
  position:absolute;
  left:55px;
  top:210px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12723 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12724 {
  position:absolute;
  left:55px;
  top:255px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12725 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12726 {
  position:absolute;
  left:55px;
  top:300px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12727 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12728 {
  position:absolute;
  left:55px;
  top:401px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12729 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12730 {
  position:absolute;
  left:55px;
  top:491px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12731 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12732 {
  position:absolute;
  left:55px;
  top:536px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12733 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12734 {
  position:absolute;
  left:55px;
  top:626px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12735 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12736 {
  position:absolute;
  left:55px;
  top:671px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12737 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12738 {
  position:absolute;
  left:55px;
  top:581px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12739 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12740 {
  position:absolute;
  left:55px;
  top:772px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12741 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12742 {
  position:absolute;
  left:55px;
  top:817px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12743 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12744 {
  position:absolute;
  left:55px;
  top:918px;
  width:152px;
  height:45px;
  color:#999999;
  text-align:left;
}
#u12745 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:45px;
}
#u12746 {
  position:absolute;
  left:55px;
  top:446px;
  width:152px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u12747 {
  position:absolute;
  left:2px;
  top:14px;
  width:148px;
  word-wrap:break-word;
}
#u12748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12748 {
  position:absolute;
  left:227px;
  top:108px;
  width:1039px;
  height:110px;
}
#u12749 {
  position:absolute;
  left:2px;
  top:47px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12750 {
  position:absolute;
  left:849px;
  top:129px;
  width:35px;
  height:35px;
  color:#FFFFFF;
}
#u12751 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12752 {
  position:absolute;
  left:330px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12753 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12754 {
  position:absolute;
  left:450px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12755 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12756 {
  position:absolute;
  left:570px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12757 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12758 {
  position:absolute;
  left:690px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12759 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#499AFF;
  text-align:center;
}
#u12760 {
  position:absolute;
  left:810px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#499AFF;
  text-align:center;
}
#u12761 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12762 {
  position:absolute;
  left:930px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12763 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12764 {
  position:absolute;
  left:1050px;
  top:174px;
  width:113px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u12765 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12766_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u12766 {
  position:absolute;
  left:764px;
  top:146px;
  width:85px;
  height:2px;
}
#u12767 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12768 {
  position:absolute;
  left:227px;
  top:233px;
  width:1039px;
  height:109px;
}
#u12769 {
  position:absolute;
  left:2px;
  top:46px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:2px;
}
#u12770 {
  position:absolute;
  left:234px;
  top:286px;
  width:1017px;
  height:1px;
}
#u12771 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
}
#u12772 {
  position:absolute;
  left:255px;
  top:249px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
}
#u12773 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12774 {
  position:absolute;
  left:756px;
  top:358px;
  width:510px;
  height:153px;
}
#u12775 {
  position:absolute;
  left:2px;
  top:68px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12776 {
  position:absolute;
  left:227px;
  top:358px;
  width:510px;
  height:153px;
}
#u12777 {
  position:absolute;
  left:2px;
  top:68px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4A99FB;
}
#u12778 {
  position:absolute;
  left:828px;
  top:377px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4A99FB;
}
#u12779 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:2px;
}
#u12780 {
  position:absolute;
  left:783px;
  top:427px;
  width:457px;
  height:1px;
}
#u12781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12782 {
  position:absolute;
  left:783px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12783 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4A99FB;
}
#u12784 {
  position:absolute;
  left:299px;
  top:377px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4A99FB;
}
#u12785 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12786 {
  position:absolute;
  left:324px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4A99FB;
}
#u12787 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:2px;
}
#u12788 {
  position:absolute;
  left:254px;
  top:427px;
  width:457px;
  height:1px;
}
#u12789 {
  position:absolute;
  left:2px;
  top:-8px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12790 {
  position:absolute;
  left:254px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12791 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12792 {
  position:absolute;
  left:483px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#9AD150;
}
#u12793 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12794 {
  position:absolute;
  left:413px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12795 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12796 {
  position:absolute;
  left:643px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F29D9D;
}
#u12797 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12798 {
  position:absolute;
  left:573px;
  top:457px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12799 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12800 {
  position:absolute;
  left:873px;
  top:450px;
  width:300px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u12801 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u12802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12802 {
  position:absolute;
  left:325px;
  top:303px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#4A99FB;
}
#u12803 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12804 {
  position:absolute;
  left:255px;
  top:303px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12805 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12806 {
  position:absolute;
  left:484px;
  top:303px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#9AD150;
}
#u12807 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12808 {
  position:absolute;
  left:414px;
  top:303px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12809 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12810 {
  position:absolute;
  left:644px;
  top:303px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F29D9D;
}
#u12811 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u12812 {
  position:absolute;
  left:574px;
  top:303px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u12813 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12814 {
  position:absolute;
  left:783px;
  top:371px;
  width:35px;
  height:35px;
}
#u12815 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12816 {
  position:absolute;
  left:254px;
  top:371px;
  width:35px;
  height:35px;
}
#u12817 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(78, 159, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12818 {
  position:absolute;
  left:1086px;
  top:511px;
  width:180px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12819 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u12820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12820 {
  position:absolute;
  left:729px;
  top:129px;
  width:35px;
  height:35px;
  color:#FFFFFF;
}
#u12821 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12822_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u12822 {
  position:absolute;
  left:644px;
  top:146px;
  width:85px;
  height:2px;
}
#u12823 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12824 {
  position:absolute;
  left:369px;
  top:129px;
  width:35px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u12825 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12826 {
  position:absolute;
  left:489px;
  top:129px;
  width:35px;
  height:35px;
  color:#FFFFFF;
}
#u12827 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12828 {
  position:absolute;
  left:609px;
  top:129px;
  width:35px;
  height:35px;
  color:#FFFFFF;
}
#u12829 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12830 {
  position:absolute;
  left:969px;
  top:129px;
  width:35px;
  height:35px;
  color:#666666;
}
#u12831 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12832_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u12832 {
  position:absolute;
  left:404px;
  top:146px;
  width:85px;
  height:2px;
}
#u12833 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12834_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:88px;
  height:5px;
}
#u12834 {
  position:absolute;
  left:524px;
  top:146px;
  width:85px;
  height:2px;
}
#u12835 {
  position:absolute;
  left:2px;
  top:-7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12836 {
  position:absolute;
  left:1089px;
  top:129px;
  width:35px;
  height:35px;
  color:#666666;
}
#u12837 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u12838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u12838 {
  position:absolute;
  left:884px;
  top:146px;
  width:85px;
  height:1px;
}
#u12839 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:2px;
}
#u12840 {
  position:absolute;
  left:1004px;
  top:146px;
  width:85px;
  height:1px;
}
#u12841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
