body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34223 {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:90px;
}
#u34224 {
  position:absolute;
  left:2px;
  top:37px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34225 {
  position:absolute;
  left:201px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34226 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34227 {
  position:absolute;
  left:421px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34228 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34229 {
  position:absolute;
  left:311px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34230 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34231 {
  position:absolute;
  left:640px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34232 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u34233 {
  position:absolute;
  left:1074px;
  top:10px;
  width:121px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u34234 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u34235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u34235 {
  position:absolute;
  left:1196px;
  top:13px;
  width:20px;
  height:12px;
}
#u34236 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u34237 {
  position:absolute;
  left:102px;
  top:31px;
  width:89px;
  height:28px;
  font-family:'Apple-Chancery', 'Apple Chancery Chancery', 'Apple Chancery';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u34238 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u34239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u34239 {
  position:absolute;
  left:42px;
  top:15px;
  width:60px;
  height:60px;
}
#u34240 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34241 {
  position:absolute;
  left:750px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34242 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34243 {
  position:absolute;
  left:860px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34244 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34245 {
  position:absolute;
  left:970px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34246 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34247 {
  position:absolute;
  left:530px;
  top:25px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u34248 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:66px;
}
#u34249 {
  position:absolute;
  left:1098px;
  top:13px;
  width:82px;
  height:66px;
}
#u34250 {
  position:absolute;
  left:2px;
  top:25px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:66px;
}
#u34251 {
  position:absolute;
  left:1162px;
  top:7px;
  width:96px;
  height:66px;
}
#u34252 {
  position:absolute;
  left:2px;
  top:25px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:2750px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34254 {
  position:absolute;
  left:0px;
  top:90px;
  width:3000px;
  height:2750px;
}
#u34255 {
  position:absolute;
  left:2px;
  top:1367px;
  width:2996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
  text-align:center;
}
#u34256 {
  position:absolute;
  left:640px;
  top:26px;
  width:120px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#499AFF;
  text-align:center;
}
#u34257 {
  position:absolute;
  left:0px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u34258_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:110px;
  height:10px;
}
#u34258 {
  position:absolute;
  left:648px;
  top:85px;
  width:105px;
  height:5px;
}
#u34259 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u34260 {
  position:absolute;
  left:57px;
  top:331px;
  width:120px;
  height:1px;
  color:#999999;
  text-align:left;
}
#u34261 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:1700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34262 {
  position:absolute;
  left:15px;
  top:110px;
  width:192px;
  height:1700px;
}
#u34263 {
  position:absolute;
  left:2px;
  top:842px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u34264 {
  position:absolute;
  left:57px;
  top:194px;
  width:120px;
  height:1px;
  color:#999999;
  text-align:left;
}
#u34265 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34266 {
  position:absolute;
  left:57px;
  top:178px;
  width:120px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34267 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u34268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34268 {
  position:absolute;
  left:15px;
  top:109px;
  width:192px;
  height:56px;
}
#u34269 {
  position:absolute;
  left:2px;
  top:20px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u34270 {
  position:absolute;
  left:37px;
  top:128px;
  width:86px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u34271 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u34272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u34272 {
  position:absolute;
  left:168px;
  top:133px;
  width:15px;
  height:9px;
}
#u34273 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u34274 {
  position:absolute;
  left:57px;
  top:332px;
  width:120px;
  height:1px;
  color:#999999;
  text-align:left;
}
#u34275 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34276 {
  position:absolute;
  left:57px;
  top:313px;
  width:120px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34277 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u34278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34278 {
  position:absolute;
  left:57px;
  top:268px;
  width:120px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34279 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u34280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34280 {
  position:absolute;
  left:57px;
  top:223px;
  width:120px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u34281 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u34282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:715px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34282 {
  position:absolute;
  left:227px;
  top:108px;
  width:1039px;
  height:715px;
}
#u34283 {
  position:absolute;
  left:2px;
  top:350px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4A99FB;
}
#u34284 {
  position:absolute;
  left:254px;
  top:136px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4A99FB;
}
#u34285 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:2px;
}
#u34286 {
  position:absolute;
  left:242px;
  top:173px;
  width:971px;
  height:1px;
}
#u34287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34288 {
  position:absolute;
  left:242px;
  top:194px;
  width:1001px;
  height:542px;
}
#u34288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:542px;
}
#u34289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(199, 231, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34289 {
  position:absolute;
  left:1007px;
  top:130px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34290 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u34291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(246, 198, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34291 {
  position:absolute;
  left:1087px;
  top:130px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34292 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u34293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(227, 227, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34293 {
  position:absolute;
  left:1167px;
  top:130px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u34294 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u34295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(74, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 153, 251, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34295 {
  position:absolute;
  left:15px;
  top:209px;
  width:193px;
  height:45px;
}
#u34296 {
  position:absolute;
  left:2px;
  top:14px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u34297 {
  position:absolute;
  left:57px;
  top:223px;
  width:120px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u34298 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
