body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:1627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4402 {
  position:absolute;
  left:40px;
  top:40px;
  width:600px;
  height:1627px;
}
#u4403 {
  position:absolute;
  left:2px;
  top:806px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 198, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4404 {
  position:absolute;
  left:40px;
  top:40px;
  width:600px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4405 {
  position:absolute;
  left:2px;
  top:11px;
  width:596px;
  word-wrap:break-word;
}
#u4406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4406 {
  position:absolute;
  left:320px;
  top:132px;
  width:40px;
  height:40px;
}
#u4407 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408 {
  position:absolute;
  left:340px;
  top:172px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4408_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u4408_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:21px;
}
#u4409 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4410 {
  position:absolute;
  left:280px;
  top:214px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4411 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4412 {
  position:absolute;
  left:280px;
  top:290px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4413 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u4414 {
  position:absolute;
  left:340px;
  top:254px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4414_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u4414_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:21px;
}
#u4415 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4416 {
  position:absolute;
  left:340px;
  top:330px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4416_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u4416_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:21px;
}
#u4417 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4418 {
  position:absolute;
  left:280px;
  top:375px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4419 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u4420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4420 {
  position:absolute;
  left:280px;
  top:453px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4421 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4422 {
  position:absolute;
  left:340px;
  top:415px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4422_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u4422_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:21px;
}
#u4423 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4424 {
  position:absolute;
  left:280px;
  top:537px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4425 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4426 {
  position:absolute;
  left:340px;
  top:493px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4426_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u4426_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u4427 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4428 {
  position:absolute;
  left:340px;
  top:577px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4428_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u4428_seg1 {
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:21px;
}
#u4429 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4430 {
  position:absolute;
  left:280px;
  top:718px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4431 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4432 {
  position:absolute;
  left:340px;
  top:659px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4432_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u4432_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:21px;
}
#u4433 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u4434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4434 {
  position:absolute;
  left:280px;
  top:797px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4435 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4436 {
  position:absolute;
  left:340px;
  top:758px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4436_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u4436_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:21px;
}
#u4437 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4438 {
  position:absolute;
  left:340px;
  top:837px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4438_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u4438_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u4439 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u4440 {
  position:absolute;
  left:280px;
  top:603px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4441 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u4442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4442 {
  position:absolute;
  left:500px;
  top:613px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4443 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4444 {
  position:absolute;
  left:400px;
  top:633px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4444_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u4444_seg1 {
  position:absolute;
  left:86px;
  top:-10px;
  width:21px;
  height:20px;
}
#u4445 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u4446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4446 {
  position:absolute;
  left:280px;
  top:881px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4447 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4448 {
  position:absolute;
  left:280px;
  top:971px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4449 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4450 {
  position:absolute;
  left:480px;
  top:971px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4451 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4452 {
  position:absolute;
  left:340px;
  top:921px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4452_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u4452_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:21px;
}
#u4453 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4454 {
  position:absolute;
  left:340px;
  top:921px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4454_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u4454_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:208px;
  height:8px;
}
#u4454_seg2 {
  position:absolute;
  left:196px;
  top:24px;
  width:8px;
  height:26px;
}
#u4454_seg3 {
  position:absolute;
  left:190px;
  top:36px;
  width:20px;
  height:21px;
}
#u4455 {
  position:absolute;
  left:47px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4456 {
  position:absolute;
  left:340px;
  top:1011px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4456_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4456_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u4457 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4458 {
  position:absolute;
  left:540px;
  top:1011px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4458_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4458_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u4459 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4460 {
  position:absolute;
  left:280px;
  top:1193px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4461 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4462 {
  position:absolute;
  left:340px;
  top:1161px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4462_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u4462_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:21px;
}
#u4463 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4464 {
  position:absolute;
  left:480px;
  top:1193px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4465 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u4466 {
  position:absolute;
  left:540px;
  top:1161px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4466_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u4466_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:21px;
}
#u4467 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4468 {
  position:absolute;
  left:280px;
  top:1046px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4469 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4470 {
  position:absolute;
  left:280px;
  top:1121px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4471 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u4472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4472 {
  position:absolute;
  left:480px;
  top:1046px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4473 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4474 {
  position:absolute;
  left:480px;
  top:1121px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4475 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u4476 {
  position:absolute;
  left:340px;
  top:1086px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4476_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4476_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u4477 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4478 {
  position:absolute;
  left:540px;
  top:1086px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4478_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u4478_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u4479 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:18px;
}
#u4480 {
  position:absolute;
  left:664px;
  top:1046px;
  width:469px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4481 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
